
.cat-photo {
  margin: 10px;
  max-width: 300px;
  display: inline;
  float:right;
  clear: right;
}

body {
  background-color:#ADD8E6;
}


h1,h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: blueviolet;
  text-indent: 20px;
  font-size: 300%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h2 {
  text-indent: 50px;
}


h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

#content {
  border: dotted 10px blueviolet;
  background-color:#ADD8E6;
  padding: 10px;
  font-size: 15px;
  margin:10px;
  justify-content: center;
}

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #eccfcf;
  overflow: hidden;
}
